.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #d0e5f1;
  }
  
  .package-creation,
  .package-browsing {
    margin-top: 60px;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    margin: 30px;
    width: 70%;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feature-content {
    display: flex;
    align-items: center;
  }
  
  .feature-title {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: #065D90;
    margin-bottom: 20px;
  }
  
  .feature-description {
    text-align: center;
    color: #065D90;
  }
  
  .feature-img {
    margin-right: 20px;
    width: 350px;
    height: 130%;
    border-radius: 8px;
  }
  .feature-button {
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    background-color: #065D90;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }
  
  .feature-button:hover {
    background-color: #0689c5;
  }
  
  @media screen and (max-width: 800px){
   
    .feature-content{
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    .feature-img {
      margin-right: 0px;
      padding-bottom: 14px;
      border-radius: 8px;
      width: 100%;
    }
  }