* {
  margin: 0;
  padding: 0;
}

.Herosection{
  background-image: url(/src/herosection.png);
  height:600px;
  color:#FFF;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  size: cover;
  }
  
.Herosection h1{
    font-size: 88px;
    padding-top: 105px;
    margin-left: 66px;
    margin-bottom: 25px;
  }
  
.Herosection h2 {
    margin-left: 66px;
  }

  @media screen and (max-width: 800px) {
    .Herosection h1{
      font-size:60px ;
      margin-left: 20px;
    }
    .Herosection h2 {
      margin-left: 20px;
    }
  }
