* {
    margin: 0;
    padding: 0;
  }
  
.Navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #065d90;
    padding: 10px 30px;
    color: white;
    font-family: "Playfair Display", serif;
    font-family: "Roboto", sans-serif;
  }
  
.leftside {
    display: flex;
    gap: 40px;
    margin-left:30px;
  }
  
.leftside a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 50px;
    transition: background-color 0.2s;
  }
  
.leftside a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
.Navbar h3 {
    margin: 0;
  }
  #navicon{
    display: none;
  }

  @media screen and (max-width: 800px) {
    .leftside{
      position: absolute;
    right: 0;
    top: 60px;
    background-color: #065d90;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    }
    .leftside.active {
      width: 270px;
      display: flex;
    flex-direction: column;
}
    }
  
    
    #navicon{
      display: block;
    }
  
   
    