.package-container {
    display: inline-block;
    box-sizing: border-box;
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    
}
  
.package-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
  
.package-title {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
  
.package-details {
    margin-top: 10px;
    font-size: 1rem;
}
  
.package-rating {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ff9800; 
}